<div class="bottom-footer">
    <div class="bottom-footer__root">
        <div class="bottom-footer__root--left">
            <ul>
                <li class="bottom-footer__root--title">Contact</li>
                <li><strong>Brandon</strong>: (415) 932-9418</strong></li>
                <li><strong>Roberto</strong>: (415) 729-6060</li>
            </ul>
        </div>
        <div class="bottom-footer__root--middle">
            <img src="/img/logo.svg" alt="Concretum Operis Inc.">
        </div>
        <div class="bottom-footer__root--right">
            <ul>
                <li class="bottom-footer__root--title">Hours</li>
                <li><strong>Mon-Sunday</strong> 8am-7pm</li>
                <li><strong>Richmond,</strong> CA</li>
            </ul>    
        </div>
    </div>
</div>