<div class="nav">
    <a href="/"><img class="nav_logo" src="/img/logo.svg" alt="Concretum Operis Inc."></a>
    <div class="nav_right">
        <ul class="nav_list">
            <li><a onclick="closeNav('')" href="/" class="navigation__link">Home</a></li>
            <li><a onclick="closeNav('#service-div')" href="/#service-div" class="navigation__link">Services</a></li>
            <li><a onclick="closeNav('#about-div')" href="/#about-div" class="navigation__link">About</a></li>
            <li><a onclick="closeNav('')" href="/past-projects" class="navigation__link">Past Projects</a></li>
            <% if (user) { %>
            <li><a onclick="closeNav('')" href="/request" class="navigation__link">Calander</a></li>
            <% }%>
            <li><a onclick="closeNav('')" href="/contact" class="navigation__link">Contact Us</a></li>
            <% if (!user) { %>
            <li><a onclick="closeNav('')" href="/login" class="navigation__link">Login</a></li>
            <% }%>
            <% if (user) { %>
                <li><a onclick="closeNav('')" href="/edit" class="navigation__link">Edit</a></li>
            <% }%>
            <% if (user) { %>
            <li><a onclick="closeNav('')" data-barba-prevent="self" href="/logout" class="navigation__link">Logout</a></li>
            <% }%>
        </ul>
        <div class="social_media">
            <a href="https://twitter.com/conretumoperis">
                <img class='social' src="./img/twitter.svg" alt="Twitter account">
            </a>
            <a href="https://www.youtube.com/channel/UCWf8LjaGbOZ4QVfewgybf1g?guided_help_flow=5">
                <img class='social' src="./img/youtube.svg" alt="YouTube account">
            </a> 
            <a href="https://www.instagram.com/concretumoperisinc/">
                <svg xmlns='http://www.w3.org/2000/svg' class='social' viewBox='0 0 512 512'><title>Logo Instagram</title><path d='M349.33 69.33a93.62 93.62 0 0193.34 93.34v186.66a93.62 93.62 0 01-93.34 93.34H162.67a93.62 93.62 0 01-93.34-93.34V162.67a93.62 93.62 0 0193.34-93.34h186.66m0-37.33H162.67C90.8 32 32 90.8 32 162.67v186.66C32 421.2 90.8 480 162.67 480h186.66C421.2 480 480 421.2 480 349.33V162.67C480 90.8 421.2 32 349.33 32z'/><path d='M377.33 162.67a28 28 0 1128-28 27.94 27.94 0 01-28 28zM256 181.33A74.67 74.67 0 11181.33 256 74.75 74.75 0 01256 181.33m0-37.33a112 112 0 10112 112 112 112 0 00-112-112z'/></svg>
            </a>
            <a href="https://www.facebook.com/Concretum-Operis-Inc-623099611844823">
                <svg xmlns='http://www.w3.org/2000/svg' class='social' viewBox='0 0 512 512'><title>Logo Facebook</title><path d='M480 257.35c0-123.7-100.3-224-224-224s-224 100.3-224 224c0 111.8 81.9 204.47 189 221.29V322.12h-56.89v-64.77H221V208c0-56.13 33.45-87.16 84.61-87.16 24.51 0 50.15 4.38 50.15 4.38v55.13H327.5c-27.81 0-36.51 17.26-36.51 35v42h62.12l-9.92 64.77H291v156.54c107.1-16.81 189-109.48 189-221.31z' fill-rule='evenodd'/></svg>
            </a>
        </div>
        

        <button class="hamburger hamburger--collapse" type="button">
            <span class="hamburger-box">
              <span class="hamburger-inner"></span>
            </span>
          </button>
    </div>
</div>

<div class="mobile-nav">
    <ul class="mobile-nav__list">
        <li><a onclick="closeNav('')" href="/" class="navigation__link">Home</a></li>
        <li><a onclick="closeNav('#service-div')" href="/#service-div" class="navigation__link">Services</a></li>
        <li><a onclick="closeNav('#about-div')" href="/#about-div" class="navigation__link">About</a></li>
        <li><a onclick="closeNav('')" href="/past-projects" class="navigation__link">Past Projects</a></li>
        <% if (user) { %>
        <li><a onclick="closeNav('')" href="/request" class="navigation__link">Calander</a></li>
        <% }%>
        <li><a onclick="closeNav('')" href="/contact" class="navigation__link">Contact Us</a></li>
        <% if (!user) { %>
        <li><a onclick="closeNav('')" href="/login" class="navigation__link">Login</a></li>
        <% }%>
        <% if (user) { %>
            <li><a onclick="closeNav('')" href="/edit" class="navigation__link">Edit</a></li>
        <% }%>
        <% if (user) { %>
        <li><a onclick="closeNav('')" data-barba-prevent="self" href="/logout" class="navigation__link">Logout</a></li>
        <% }%>
    </ul>
</div>