<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <%- include('head'); -%>
        <script></script>
    </head>
    <body data-barba="wrapper">
        <%- include('header', {user: user}); -%>

        <main data-barba="container" data-barba-namespace="home">
            <div class="main-view">
                <div class="intro">
                    <div class="intro__slot intro__slot-1"></div>
                    <div class="intro__slot intro__slot-2"></div>
                    <div class="intro__slot intro__slot-3"></div>
                    <div class="intro__slot intro__slot-4"></div>
                    <div class="intro__slot intro__slot-5"></div>
                </div>
                <div class="pattern">
                    <div class="title">
                        <div class="title-h1">Concretum Operis, Inc</div>
                        <div class="title-info line anim-typewriter">
                            Let's bring your vision to life
                        </div>
                    </div>
                </div>
                <header class="header">
                </header>
                <div class="service" id="service-div">
                    <h2 class="service__title">
                        Our Services
                    </h2>
                    <div class="service__title-load"></div>
                    <div class="service__grid">
                        <div class="service__card service__card--1">
                            <div class="service__img-container"><img class="service__img" src="./img/drilling.png" alt=""></div>
                            <div class="service__card-info top-row">
                                <h3 class="service__card--title">Drilling</h3>
                                <p>This is required to ensure that the ground is solid for the placement of the foundation using drilling piers. This important when the construction site is close to the shore or on a hill.</p>
                            </div>
                        </div>
                        <div class="service__card service__card--2">
                            <div class="service__img-container"><img class="service__img heightInh" src="./img/excavation.png" alt=""></div>
                            <div class="service__card-info top-row">
                                <h3 class="service__card--title">Excavation</h3>
                                <p class="excaP">Excavation is used to create building foundations by removing the earth’s topsoil to below grade depending on the approved plans.</p>
                            </div>
                        </div>
                        <div class="service__card service__card--3">
                            <div class="service__img-container"><img class="service__img heightInh" src="./img/waterproofing.png" alt=""></div>
                            <div class="service__card-info top-row">
                                <h3 class="service__card--title">Waterproofing</h3>
                                <p class="excaP">Waterproofing is the combination of <strong>materials</strong> used to prevent water from entering the structural elements of a building or its finished spaces.</p>
                            </div>
                        </div>
                        <div class="service__card service__card--4">
                            <div class="service__img-container"><img class="service__img heightInh" src="./img/shoring.png" alt=""></div>
                            <div class="service__card-info bottom-row">
                                <h3 class="service__card--title">Shoring</h3>
                                <p class="excaP">Shoring is a system used to temporarily support a structure from collapsing when soil is not stable.</p>
                            </div>
                        </div>
                        <div class="service__card service__card--5">
                            <div class="service__img-container"><img class="service__img" src="./img/foundation.jpg" alt=""></div>
                            <div class="service__card-info bottom-row">
                                <h3 class="service__card--title">Foundations</h3>
                                <p>Foundations provide the structure's stability from the ground: that supports walls or piers and distribute the load over a greater area.</p>
                            </div>
                        </div>
                        <div class="service__card service__card--6">
                            <div class="service__img-container"><img class="service__img" src="./img/retrofits.png" alt=""></div>
                            <div class="service__card-info bottom-row">
                                <h3 class="service__card--title">Retrofits</h3>
                                <p>Retrofitting is any change made to an existing structure to reduce the possibility of damage to that structure or improve the functionality of that structure.</p>
                            </div>
                        </div>
                        <div class="service__card--7">
                            <div class="service__card--7__horizontal">
                                <div class="service__card--7__horizontal-imgDiv">
                                    <img class="service__card--7__horizontal--img" src="./img/trucking.png">
                                </div>
                                <div class="service__card--7__horizontal--info">
                                    <h3 class="service__card--7__horizontal--title">Trucking Service</h3>
                                    <div class="service__card--7__horizontal--info-grid">
                                        <p class="service__card--7__horizontal--info-grid__title"><strong>10 yd box</strong></p>
                                        <strong class="service__card--7__horizontal--info-grid__title" style="text-align: right;">per load</strong>
                                        <p class="service__card--7__horizontal--info-grid__subtitle">Clean dirt</p>
                                        <strong class="service__card--7__horizontal--info-grid-price">$450</strong>
                                        <p class="service__card--7__horizontal--info-grid__subtitle">Clean concrete</p>
                                        <strong class="service__card--7__horizontal--info-grid-price">$450</strong>
                                        <p class="service__card--7__horizontal--info-grid__subtitle">Mix (concrete & asphalt)</p>
                                        <strong class="service__card--7__horizontal--info-grid-price">$600</strong>
                                        <p class="service__card--7__horizontal--info-grid__subtitle">Mix (concrete & dirt)</p>
                                        <strong class="service__card--7__horizontal--info-grid-price">$600</strong>
                                        <p class="service__card--7__horizontal--info-grid__title"><strong>20 yd box</strong></p>
                                        <strong class="service__card--7__horizontal--info-grid__title" style="text-align: right;">per load</strong>
                                        <p class="service__card--7__horizontal--info-grid__subtitle">Garbage</p>
                                        <strong class="service__card--7__horizontal--info-grid-price">$600</strong>
                                    </div>   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="about" id="about-div">`
                    <div class="about__top">
                        <div class="about__top__title">
                            About Our Company
                        </div>
                        <div class="about__top-load"></div>
                    </div>
                    <div class="about__bottom">
                        <div class="about__bottom-1 margin-5-btm">
                            <div class="about__bottom-imgcontainer-cut">
                                <img class="about__bottom-img-cut" src="./gallery/forming.jpg">
                            </div>
                            <div class="about__bottom-info padding-3-lf">
                                <h4 class="title">What We Do</h4>
                                <p class="paragraph">From commercial projects to residential projects, Concretum Operis, Inc. does it all. Driven by a commitment for continuous improvement, every phase throughout a project is to provide the best quality.</p>
                            </div>
                        </div>
                        <div class="about__bottom-2 margin-5-btm">
                            <div class="about__bottom-info padding-3-rt">
                                <h4 class="title">Experience</h4>
                                <p class="paragraph">C.E.O of Concretum, Operis, Inc. Roberto Gonzalez has been in the construction industry for 20+ years. Starting at the age of 17 Roberto picked up his first shovel & began to dig his future into this industry. From labor to superintendent, he understands the ins and outs of everything having to do in this industry. It was not until last year that Roberto decided to start his own construction company & began this legacy.</p>
                            </div>
                            <div class="about__bottom-imgcontainer">
                                <img class="about__bottom-img profile-pos" src="./img/roberto.jpg">
                            </div>
                        </div>
                        <div class="about__bottom-3">
                            <div class="about__bottom-imgcontainer-cut">
                                <img class="about__bottom-img-cut opacity-light" src="./img/company_img.jpg">
                            </div>
                            <div class="about__bottom-info padding-3-lf">
                                <h4 class="title">Why Choose Us?</h4>
                            <p class="paragraph">Concretum Operis, Inc. number one priority is customer service. Concretum Operis, Inc has a top-quality product in which it is Concretum Operis, Inc job to best sell it. By doing this Concretum Operis, Inc works carefully around the customers’ needs, problem-solving, & maintaining professionalism throughout the whole project.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <%- include('bottom'); -%>
            </div>
            <div>
                <div class="contact-popup">
                    <div class="contact-popup__close">
                        <div class= "contact-popup__close-x uploaded_div__images--card-div-remove__span"></div>
                    </div>
                    <h1 class="contact-popup__info-h1" id="postText">We will get back to you as soon as possible</h1>
                    <img id="postGif" src="/img/Radio-1s-200px.svg">
                    <div class="contact-popup__info">
                        <h1 class="contact-popup__info-h1">Let's get in touch</h1>
                        <p  class="contact-popup__info-p">Enter your name, phone number and we'll get back to you as soon as possible.</p>
                        <form class="contact-popup__form">
                            <div class="contact-popup__form--left">
                                <label class="contact-popup__form--label" for="contactPopupName">Name</label><br>
                                <input class="contact-popup__form--input" type="text" name="contactPopupName" placeholder="ex. First Last" required><br>
                            </div>
                            <div class="contact-popup__form--right">
                                <label class="contact-popup__form--label" for="contactPopupNumber">Phone Number</label><br>
                                <input class="contact-popup__form--input" type="text" maxlength="12" name="contactPopupNumber" onkeypress="return (event.charCode >= 48 && event.charCode <= 57) || (event.charCode == 45)" placeholder="ex. 234-456-6789" required><br>
                            </div>
                            <button class="contact-popup__form--submit">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </main>
        <%- include('footer'); -%>
    </body>
</html>