<!DOCTYPE html>
<html lang="en">
    <head> 
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <%- include('head'); -%>
        <script></script>
    </head> 
    <body data-barba="wrapper">
        <%- include('header', {user: user}); -%>
        <main data-barba="container" data-barba-namespace="login" class="login__body" class="main">
            <div class="login">
                <div class="login__left">
                    <div class="login__left-pattern"></div>
                </div>
                <div class="login__right">
                    <div class="login__right__content">
                        <h2 class="login__right-title">Concretum Operis, Inc</h2>
                        <h2 class="login__right-subtitle">Welcome Back</h2>
                        <form action="/login" id="login-form" class="login__right__form" method="POST" autocomplete="off">
                            <div>
                                <div class="login__right__form__group">
                                    <label class="login__right__form_email-label" for="email">Username or email</label><br>
                                    <input class="login__right__form_email-input" type="text" id="email" name="username" placeholder="myemail@aol.com" required>
                                </div>
                                <br>
                                <div class="login__right__form__group">
                                    <label class="login__right__form_pw-label" for="pw">Password</label><br>
                                    <input class="login__right__form_pw-input" type="password" id="pw" name="password" placeholder="password" required>
                                    <div class="login__right__form__forgot-pw">
                                        <a class="login__right__form_forgot">Forgot password?</a><br>
                                    </div>
                                </div>
                                <br>
                            </div>
                        </form>
                        <a class="login__right__form_submit" onclick="document.getElementById('login-form').submit();">Sign in</a>
                    </div>
                </div>
            </div>
        </main>
        
    </body>
    <%- include('footer'); -%>
</html>