<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('head'); -%>
    </head>
    <body data-barba="wrapper">
        <%- include('header', {user: user}); -%>
        <main data-barba="container">
            <% if(exists) { %>
                <div class="new_password">
                    <form class="new_password__form">
                        <label>Enter New Password</label>
                        <input type="password" name="newPassword" id="">
                        <label>Confirm Password</label>
                        <input type="password" name="copyPassword" id="">
                        <input type="hidden" name="id" value="<%=exists.resetCode%>">
                        <button type="submit">Confirm</button>
                    </form>
                </div>
            <% } else { %>
                <div class="new_password">
                    <h2>This link has now expired</h2>
                </div>
            <% } %>
            <script src="./src/new-password.js"></script>
        </main>
    </body>
    <%- include('footer'); -%>
</html>