<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('head'); -%>
    </head>
    <body data-barba="wrapper">
        <%- include('header', {user: user}); -%>
        <main data-barba="container" style="height: 100vh;">
            <% if(exists) { %>
                <div class="new_password">
                    <h2 class="new_password__resetTitle">Reset Password</h2>
                    <form class="new_password__form">
                        <label class="new_password__form-title">Enter New Password</label>
                        <input class="new_password__form_input" type="password" name="newPassword" id="" style="margin-bottom: 2rem;"> 
                        <label class="new_password__form-title">Confirm Password</label>
                        <input class="new_password__form_input" type="password" name="copyPassword" id="">
                        <input class="new_password__form" type="hidden" name="id" value="<%=exists.resetCode%>">
                        <button class="new_password__form-button" type="submit">Submit <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24"><path style="fill: #ffffff" d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"/></svg></button>
                    </form>
                </div>
                <div class="new_password__success">
                        <p class="new_password__success-title">Password has been reset.</p>
                        <p class="reset-password__sent-second">Redirecting in 10 seconds...</p>
                        <img src="./img/loading.svg" style="width: 10rem; 
                transform: translateY(-19%);">
                </div>
            <% } else { %>
                <div class="new_password">
                    <h2 class="new_password-expired">This link has now expired</h2>
                    <p class="reset-password__sent-second">Redirecting home in 5 seconds</p>
                <img src="./img/loading.svg" style="width: 10rem; 
                transform: translateY(-19%);">
                <script>
                    setTimeout('redirectLogin()', 5000);
                </script>
                </div>
            <% } %>
            <script src="./src/new-password.js"></script>
        </main>
    </body>
    <%- include('footer'); -%>
</html>