<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('head'); -%>
    </head>
    <body data-barba="wrapper">
        <%- include('header', {user: user}); -%>
        <main data-barba="container">
            <form class="reset-password">
                <p>Recover Password</p>
                <hr>
                <p>Let's recover your password</p>
                <p><strong>Enter your email</strong></p>
                <input type="email" name="userEmail">
                <button type="submit">Email me recovery link</button>
            </form>
            <script src="./src/reset-password.js"></script>
        </main>
    </body>
    <%- include('footer'); -%>
</html