<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <%- include('head'); -%>
    </head>
    <body data-barba="wrapper">
        <%- include('header', {user: user}); -%>
        <main class="portfolio_body" data-barba="container" data-barba-namespace="stinson-beach" data-background="#1e1c19">
            <div class="project-root">
                <h2 class="word-wrap project-root__title">Stinson Beach</h2>
                <div class="project-root__gallery">
                    <div class="photo-container l-photo">
                        <img class="project-root__gallery-photo" src="/projects/stinson_beach/15.jpg">
                    </div>
                    <div class="photo-container r-photo">
                        <img class="project-root__gallery-photo" src="/projects/stinson_beach/16.jpg">
                    </div>
                    <div class="photo-container l-photo">
                        <img class="project-root__gallery-photo" src="/projects/stinson_beach/14.jpg">
                    </div>
                    <div class="photo-container r-photo">
                        <img class="project-root__gallery-photo" src="/projects/stinson_beach/13.jpg">
                    </div>
                    <div class="photo-container l-photo">
                        <img class="project-root__gallery-photo" src="/projects/stinson_beach/6.jpg">
                    </div>
                    <div class="photo-container r-photo">
                        <img class="project-root__gallery-photo" src="/projects/stinson_beach/7.jpg">
                    </div>
                    <div class="photo-container l-photo">
                        <img class="project-root__gallery-photo" src="/projects/stinson_beach/8.jpg">
                    </div>
                    <div class="photo-container r-photo">
                        <img class="project-root__gallery-photo" src="/projects/stinson_beach/9.jpg">
                    </div>
                    <div class="photo-container l-photo">
                        <img class="project-root__gallery-photo" src="/projects/stinson_beach/10.jpg">
                    </div>
                    <div class="photo-container r-photo">
                        <img class="project-root__gallery-photo" src="/projects/stinson_beach/11.jpg">
                    </div>
                    <div class="photo-container l-photo">
                        <img class="project-root__gallery-photo" src="/projects/stinson_beach/12_2x.jpg">
                    </div>
                    <div class="photo-container r-photo">
                        <img class="project-root__gallery-photo" src="/projects/stinson_beach/5.jpg">
                    </div>
                    <div class="photo-container l-photo">
                        <img class="project-root__gallery-photo" src="/projects/stinson_beach/4.jpg">
                    </div>
                    <div class="photo-container r-photo">
                        <img class="project-root__gallery-photo" src="/projects/stinson_beach/3.jpg">
                    </div>
                    <div class="photo-container l-photo">
                        <img class="project-root__gallery-photo" src="/projects/stinson_beach/2.jpg">
                    </div>
                    <div class="photo-container r-photo">
                        <img class="project-root__gallery-photo" src="/projects/stinson_beach/1.jpg">
                    </div>
                </div>
            </div>
        </main>
        <%- include('footer'); -%>
    </body>
</html>