<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <%- include('head'); -%>
    </head>
    <body data-barba="wrapper">
        <%- include('header', {user: user}); -%>
        <main class="portfolio_body" data-barba="container" data-barba-namespace="valencia-st">
            <div class="project-root">
                <h2 class="word-wrap project-root__title">Valencia St, San Francisco</h2>
                <div class="project-root__gallery">
                    <div class="photo-container l-photo">
                        <img class="project-root__gallery-photo" src="/projects/valencia/1.jpg">
                    </div>
                    <div class="photo-container r-photo">
                        <img class="project-root__gallery-photo" src="/projects/valencia/2.jpg">
                    </div>
                    <div class="photo-container l-photo">
                        <img class="project-root__gallery-photo" src="/projects/valencia/3.jpg">
                    </div>
                    <div class="photo-container r-photo">
                        <img class="project-root__gallery-photo" src="/projects/valencia/4.jpg">
                    </div>
                    <div class="photo-container l-photo">
                        <img class="project-root__gallery-photo" src="/projects/valencia/5.jpg">
                    </div>
                    <div class="photo-container r-photo">
                        <img class="project-root__gallery-photo" src="/projects/valencia/6.jpg">
                    </div>
                    <div class="photo-container l-photo">
                        <img class="project-root__gallery-photo" src="/projects/valencia/7.jpg">
                    </div>
                    <div class="photo-container r-photo">
                        <img class="project-root__gallery-photo" src="/projects/valencia/8.jpg">
                    </div>
                    <div class="photo-container l-photo">
                        <img class="project-root__gallery-photo" src="/projects/valencia/9.jpg">
                    </div>
                    <div class="photo-container r-photo">
                        <img class="project-root__gallery-photo" src="/projects/valencia/10.jpg">
                    </div>
                    <div class="photo-container l-photo">
                        <img class="project-root__gallery-photo" src="/projects/valencia/11.jpg">
                    </div>
                    <div class="photo-container r-photo">
                        <img class="project-root__gallery-photo" src="/projects/valencia/13.jpg">
                    </div>
                    <div class="photo-container l-photo">
                        <img class="project-root__gallery-photo" src="/projects/valencia/14.jpg">
                    </div>
                    <div class="photo-container r-photo">
                        <img class="project-root__gallery-photo" src="/projects/valencia/15.jpg">
                    </div>
                </div>
            </div>
        </main>
        <%- include('footer'); -%>
    </body>
</html>